body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-image: url('background-space.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80vw;
    max-width: 700px;
    height: 80vh;
    max-height: 500px;
    overflow-y: auto; /* Permite rolagem se necessário */
}

h1 {
    color: #00bfff;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007acc;
}